.experienceBar {
  display: flex;
  align-items: center;
  -webkit-animation: fadeIn 0.5s ease-in-out;
  -moz-animation: fadeIn 0.5s ease-in-out;
  -o-animation: fadeIn 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 6px;
  border-radius: 6px;
  background-color: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 6px;
  border-radius: 6px;
  background-color: var(--green);
}

span.currentExperience {
  position: absolute;
  top: 17px;
  transform: translateX(-50%);
  text-align: center;
  background: var(--green);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  white-space: nowrap;
}

span.currentExperience::after {
  display: block;
  content: " ";
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-bottom: 6px solid var(--green);
  border-right: 6px solid transparent;
  border-top: 0 solid transparent;
}

@media (max-width: 720px) {
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
