.headerContainer {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 0rem;

  max-width: 112px;
  min-width: 111px;
  background-image: linear-gradient(to bottom, var(--white), var(--background));
}

.headerContainer menu {
}

.isNotActive {
  border: none;
  border-left: solid 4px transparent;

  padding: 1rem;
  width: 100%;

  outline: none;

  transition: filter 0.2s;
  background: transparent;
}

.isNotActive img {
  width: 28px;
  height: 28px;
}

.isNotActive:hover {
  filter: brightness(0.9);
}

.isActive {
  border: none;
  border-left: solid 4px var(--blue);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  padding: 1rem;
  width: 100%;
  outline: none;
  background: transparent;
}
.isActive img {
  width: 28px;
  height: 28px;
}

.logout {
  border: none;
  border-left: solid 4px transparent;

  width: 100%;

  outline: none;

  transition: filter 0.2s;
  background: transparent;
}
.logout :hover {
  filter: brightness(0.8);
}

@media (max-width: 720px) {
  .headerContainer {
    background: var(--white);

    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0 0mm 2mm rgb(89, 101, 224));

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0rem 2rem;

    max-width: 100%;
    min-width: 100%px;

    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .headerContainer menu {
    display: flex;
    flex-direction: row;
  }
  .isActive {
    background: var(--white);
    margin: 0rem 1rem;
    border: none;

    border-bottom: solid 4px var(--blue);

    padding: 1rem;
    width: 100%;
    outline: none;
  }
  .isNotActive {
    margin: 0rem 1rem;
    border: none;
    border-bottom: solid 4px var(--white);
  }
}
