.homeCotainer {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
  -webkit-animation: fadeIn 0.5s ease-in-out;
  -moz-animation: fadeIn 0.5s ease-in-out;
  -o-animation: fadeIn 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 1080px) {
}

@media (max-width: 960px) {
  .container {
    max-width: 992px;
    margin: 0 0;
    padding: 2.5rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .container section {
    flex: 1;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .challengeBox {
    display: none;
  }
}

@media (max-width: 720px) {
  .homeCotainer {
    display: flex;
    flex-direction: column-reverse;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
